$color_1: #000;
$color_2: #fff;
$font-family_1: Helvetica, Arial, sans-serif;
$background-color_1: #fff;
$background-color_2: #ecf2fd;
$background-color_3: #d1e0fe;
$background-color_4: #000;
$background-color_5: #444242;
$background-color_6: #d7ecff;
$background-color_7: #212020;

$primary-color: #090C08;
$secondary-color: #E3170A;
$text-color: #CAE7B9;
$background-color: #87A0B2;


$padding-base: 10px;
$margin-base: 10px;

body {
  font-family: $font-family_1;
}
.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.btn {
  color: $color_1;
  background-color: $background-color_1;
  border: 2px solid #cecece;
  padding: 0.35rem 1rem 0.25rem 1rem;
  font-size: 1rem;
  &:hover {
    background-color: $background-color_2;
  }
  &:active {
    background-color: $background-color_3;
  }
  &:focus {
    outline: none;
    border: black solid 2px;
  }
}
.btn-primary {
  color: $color_2;
  background-color: $background-color_4;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.3rem;
  border: black solid 2px;
  margin: 1rem 0;
  &:hover {
    background-color: $background-color_5;
  }
  &:focus {
    color: $color_1;
    outline: none;
    border: #000 solid 2px;
    background-color: $background-color_6;
  }
  &:active {
    background-color: $background-color_7;
  }
}


.header {

  .nav {
    display: flex;
    justify-content:start;
    }
  }




.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

